
Voting/.vs/Voting/v17/.suo
Voting/.vs/Voting/v17/Browse.VC.db
Voting/.vs/Voting/v17/Browse.VC.db-shm
Voting/.vs/Voting/v17/Browse.VC.db-wal
Voting/.vs/Voting/v17/Browse.VC.opendb
Voting/.vs/Voting/v17/ipch/AutoPCH/afbf3779e168559/MAIN.ipch
Voting/Voting/x64/Debug/Voting.Build.CppClean.log
Voting/Voting/x64/Debug/Voting.exe.recipe
Voting/Voting/x64/Debug/Voting.log
Voting/Voting/x64/Debug/Voting.vcxproj.FileListAbsolute.txt
